body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.about-me {
  display: flex;
  gap: 3rem;
  margin: 1.5rem;
}

img {
  border-radius: 10px;
}

nav {
  margin: 0;
  display: flex;
  gap: 3rem;
  padding: .1rem 4rem 0 60rem;
  background-color: #B8A04A;
  color: white;
}