body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-me {
  padding-top: 2.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  margin: 4rem 0 4.5rem 4.5rem;
}

.about-info {
  width: 25%;
}

a {
  text-decoration: none;
}

img {
  border-radius: 10px;
}

nav {
  margin: 0;
  display: flex;
  gap: 3rem;
  padding: .1rem 4rem 0 60rem;
  /* color: white; */
}

.skills {
  text-align: center;
}

.skills-list {
  display: flex;
  margin: 5rem 5.5rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.skills-tabs {
  background-color: #2596be;
  display: flex;
  gap: 1em;
  width: 19rem;
}

.skills-tabs:hover, .skills-tabs:focus {
  background-color: #f5d59c;
  box-shadow: 3px 3px 4px #1c7190;
}

.hero-image {
  display: flex;
  justify-content: flex-end;
  background-image: url('images/pexels-brett-sayles-1454288\ \(1\).jpg');
  width: 100%;
  height: 99.9vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.experience {
  margin-top: 5%;
  text-align: center;
  background-color: #17617c;
}

.hidden {
  display: none;
}